<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col col-sm-6">
      <mat-card>
        <mat-card-title class="text-center" color="primary"
          >Connexion</mat-card-title
        >
        <br>
        <mat-card-subtitle class="text-center"
          >Saisir votre identifiant</mat-card-subtitle
        >
        <mat-card-content class="px-5">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Identifiant</mat-label>
            <input matInput type="text"  />
            <!-- <button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="value = ''"
            >
              <mat-icon>close</mat-icon>
            </button> -->
          </mat-form-field>
          <div class="text-center">
            <button mat-raised-button color="primary">S'identifier</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
